* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body .global {
    margin-top: 5px;
}
.global {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}
.global .title {
    text-align: center;
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.452);
}
.global .title h1 {
    font-size: 1.85rem;
    color: rgba(0, 0, 0, 0.801);
}
.global .perguntas {
    width: 90%;
    text-align: center;
}
.global .perguntas .input-1 {
    margin-bottom: 10px;
}
.global .perguntas .input-1 input {
    width: 90%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-radius: 6px;
    height: 30px;
    text-indent: 7px;
}
.global .perguntas .input-2 {
    margin-bottom: 10px;
}
.global .perguntas .input-2 input {
    width: 90%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-radius: 6px;
    height: 30px;
    text-indent: 7px;
}
.global .btn {
    margin: 30px 0px;
}
.global .btn input {
    width: 90%;
    height: 25px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6;
}
.global .btn input:hover {
    background-color: rgba(0, 0, 0, 0.137);
}
.global .resultado {
    width: 100%;
    margin: auto;
}
.global .resultado input {
    width: 90%; 
    height: 30px;
    text-indent: 7px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.671);   
    font-size: 0.95rem;
    border-radius: 5px;
}

/* parte 2 */
.global-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-2 .pessoas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.global-2 .pessoas .pessoa {
    margin: 25px;
    width: 150px;
}
.global-2 .pessoas .pessoa i {
    margin-bottom: 12px;
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.644);
    display: flex; 
    justify-content: center; 
}
.global-2 .pessoas .pessoa p {
    font-size: 1.2rem;
    text-align: center;
}

.cor-1 {
    color: rgba(0, 128, 0, 0.808);
}
.cor-2 {
    color: rgba(0, 0, 255, 0.767);
}
.cor-3 {
    color: rgba(255, 255, 0, 0.808);
}
.cor-4 {
    color: rgba(255, 0, 0, 0.808);
}